/**
 * Fonts
 */
/*Montserrat*/
@font-face {
  font-family: 'Montserrat';
  src: url("../assets/fonts/Montserrat/Montserrat-Regular.ttf");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'Montserrat';
  src: url("../assets/fonts/Montserrat/Montserrat-Bold.ttf");
  font-weight: 700;
  font-style: normal; }

/*Kaushan*/
@font-face {
  font-family: 'Kaushan Script';
  src: url("../assets/fonts/Kaushan_Script/KaushanScript-Regular.ttf");
  font-weight: 400;
  font-style: normal; }

/*Roboto*/
@font-face {
  font-family: 'Roboto';
  src: url("../assets/fonts/Roboto/Roboto-Regular.ttf");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'Roboto';
  src: url("../assets/fonts/Roboto/Roboto-Italic.ttf");
  font-weight: 400;
  font-style: italic; }

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

input::-ms-clear {
  display: none; }

/**
 * Global
 */
*,
*::after,
*::before {
  outline: none !important;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  min-width: 0;
  min-height: 0;
  -ms-touch-action: manipulation;
      touch-action: manipulation; }

input, select, textarea, button {
  -webkit-appearance: none; }

html {
  -webkit-text-size-adjust: 100%; }

a {
  color: inherit;
  text-decoration: none; }

body {
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 15px;
  color: #333;
  line-height: 1.6; }

.page {
  overflow: hidden; }

hr {
  display: block;
  height: 1px;
  width: 100%;
  margin: 40px 0;
  border: 0;
  background-color: #e5e5e5; }

/*container*/
.container {
  padding: 0 15px;
  width: 100%;
  max-width: 1230px;
  margin: 0 auto; }

/*intro*/
.intro {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100vh;
  padding-top: 30px;
  min-height: 820px;
  position: relative;
  background: url("../assets/images/intro.jpg") center no-repeat;
  background-size: cover; }

.intro__inner {
  width: 100%;
  max-width: 888px;
  margin: 0 auto;
  color: #fff;
  text-align: center; }

.intro__title {
  font-size: 150px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  line-height: 1; }

.intro__title:after {
  content: '';
  display: block;
  width: 60px;
  height: 3px;
  margin: 60px auto;
  background-color: #fff; }

.intro__suptitle {
  margin-bottom: 20px;
  font-size: 72px;
  font-family: 'Kaushan Script';
  color: #fff; }

/*header*/
.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999; }

.header.fixed {
  padding: 10px 0;
  background-color: #eb8b8d;
  -webkit-box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0); }

.header.active {
  background-color: #eb8b8d; }

.header__inner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.header__logo {
  font-size: 30px;
  font-weight: 700;
  color: #fff; }

/*button*/
.btn {
  display: inline-block;
  vertical-align: top;
  padding: 8px 30px;
  border: 3px solid #fff;
  font-size: 14px;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
  -webkit-transition: background-color .1s linear, color .1s linear;
  -o-transition: background-color .1s linear, color .1s linear;
  transition: background-color .1s linear, color .1s linear; }

.btn:hover {
  color: #000;
  background-color: #fff; }

/*nav*/
.nav {
  font-size: 14px;
  text-transform: uppercase; }

.nav__link {
  display: inline-block;
  vertical-align: top;
  margin: 0 15px;
  position: relative;
  color: #fff;
  text-decoration: none;
  font-weight: 100;
  -webkit-transition: color .2s linear;
  -o-transition: color .2s linear;
  transition: color .2s linear;
  top: 100%;
  left: 0;
  z-index: 1;
  -webkit-transition: opacity .1s linear;
  -o-transition: opacity .1s linear;
  transition: opacity .1s linear; }

.nav__link:after {
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  background-color: #fce38a;
  opacity: 0;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1; }

.nav__link:hover {
  color: #fce38a; }

.nav__link:hover:after,
.nav__link.active:after {
  opacity: 1; }

/* Nav toggle */
.nav-toggle {
  width: 30px;
  padding: 10px 0;
  display: none;
  font-size: 0;
  color: transparent;
  border: 0;
  background: none;
  cursor: pointer;
  position: absolute;
  top: 24px;
  right: 24px;
  z-index: 1; }

.nav-toggle__item {
  display: block;
  width: 100%;
  height: 3px;
  background-color: #fff;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  -webkit-transition: background .2s linear;
  -o-transition: background .2s linear;
  transition: background .2s linear; }

.nav-toggle.active .nav-toggle__item {
  background: none; }

.nav-toggle__item:before,
.nav-toggle__item:after {
  content: "";
  width: 100%;
  height: 3px;
  background-color: #fff;
  position: absolute;
  left: 0;
  z-index: 1;
  -webkit-transition: -webkit-transform .2s linear;
  transition: -webkit-transform .2s linear;
  -o-transition: transform .2s linear;
  transition: transform .2s linear;
  transition: transform .2s linear, -webkit-transform .2s linear; }

.nav-toggle__item:before {
  top: -8px; }

.nav-toggle__item:after {
  bottom: -8px; }

.nav-toggle.active .nav-toggle__item:before {
  -webkit-transform-origin: left top;
      -ms-transform-origin: left top;
          transform-origin: left top;
  -webkit-transform: rotate(45deg) translate3d(0px, -2px, 0);
          transform: rotate(45deg) translate3d(0px, -2px, 0); }

.nav-toggle.active .nav-toggle__item:after {
  -webkit-transform-origin: left bottom;
      -ms-transform-origin: left bottom;
          transform-origin: left bottom;
  -webkit-transform: rotate(-45deg) translate3d(0px, 3px, 0);
          transform: rotate(-45deg) translate3d(0px, 3px, 0); }

/*slider*/
.slider {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1; }

.slider__inner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.slider__item {
  width: 23%;
  padding: 20px 0;
  position: relative;
  border-top: 3px solid #fff;
  opacity: .7;
  font-size: 18px;
  color: #fff;
  text-transform: uppercase; }

.slider__item.active {
  opacity: 1; }

.slider__item.active:before {
  content: "";
  display: block;
  width: 70px;
  height: 3px;
  background-color: #f38181;
  position: absolute;
  top: -3px;
  left: 0;
  z-index: 1; }

.slider__number {
  font-size: 24px;
  font-weight: 700; }

/*section*/
.section {
  padding: 80px 0; }

.section--devices {
  background: url("../assets/images/devices-bg.jpg") center no-repeat;
  background-size: cover;
  padding-bottom: 0;
  margin-bottom: 40px; }

.section--gray {
  background-color: #f8f8f8; }

.section--clients {
  background: url("../assets/images/clients-bg.jpg") center no-repeat;
  background-size: cover; }

.section--map {
  background: url("../assets/images/map-bg.jpg") center no-repeat;
  background-size: cover;
  padding: 40px 0; }

.section__header {
  width: 100%;
  max-width: 950px;
  margin: 0 auto 50px;
  text-align: center; }

.section__suptitle {
  font-family: 'Kaushan Script';
  font-size: 24px;
  color: #333; }

.section__title {
  font-size: 30px;
  font-weight: 700;
  color: #333;
  text-transform: uppercase; }

.section__title:after {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  margin: 30px auto;
  background-color: #f38181; }

.section__text {
  font-family: 'Roboto';
  font-size: 15px;
  color: #999; }

/*card*/
.card {
  margin: 80px -15px 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.card__item {
  width: 33.333%;
  padding: 0 15px; }

.card__inner {
  background-color: #95e1d3;
  position: relative; }

.card__inner:hover .card__text {
  opacity: 1; }

.card__inner:hover .card__img {
  -webkit-transform: translate3d(-10px, -10px, 0);
          transform: translate3d(-10px, -10px, 0); }

.card__inner:hover .card__img img {
  opacity: .1; }

.card__img {
  background: -webkit-gradient(linear, left top, left bottom, from(#f38181), to(#fce38a));
  background: -o-linear-gradient(top, #f38181, #fce38a);
  background: linear-gradient(to bottom, #f38181, #fce38a);
  -webkit-transition: -webkit-transform .1s linear;
  transition: -webkit-transform .1s linear;
  -o-transition: transform .1s linear;
  transition: transform .1s linear;
  transition: transform .1s linear, -webkit-transform .1s linear; }

.card__img img {
  display: block;
  max-width: 100%;
  -webkit-transition: opacity .2s linear;
  -o-transition: opacity .2s linear;
  transition: opacity .2s linear; }

.card__text {
  width: 100%;
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 18px;
  text-align: center;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 0;
  z-index: 2;
  -webkit-transform: translate3d(0, -50%, 0);
          transform: translate3d(0, -50%, 0);
  -webkit-transition: opacity .2s linear;
  -o-transition: opacity .2s linear;
  transition: opacity .2s linear; }

.card__info {
  margin-top: 20px;
  text-align: center; }

.card__name {
  font-size: 14px;
  color: #333;
  text-transform: uppercase;
  margin-bottom: 5px; }

.card__prof {
  color: #999;
  font-family: 'Roboto';
  font-weight: 400;
  font-style: italic; }

/*statistics*/
.statistics {
  background-color: #95e1d3; }

.stat {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }

.stat__item {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 0;
      -ms-flex: 1 1 0px;
          flex: 1 1 0;
  padding: 70px 25px;
  border-left: 1px solid #b5eae0;
  text-align: center;
  color: #fff; }

.stat__item:last-child {
  border-right: 1px solid #b5eae0; }

.stat__count {
  margin-bottom: 10px;
  font-size: 72px;
  font-weight: 700;
  line-height: 1; }

.stat__text {
  font-size: 14px;
  text-transform: uppercase; }

/*services*/
.services {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }

.services__item {
  width: 33.33333%;
  margin-bottom: 30px;
  position: relative;
  padding-right: 35px;
  padding-left: 85px;
  padding-bottom: 30px; }

.services__item--border {
  border-bottom: 1px solid #e5e5e5; }

.services__icon {
  position: absolute;
  top: 0;
  left: 28px;
  z-index: 1; }

.services__title {
  font-size: 14px;
  color: #333;
  text-transform: uppercase;
  margin-bottom: 10px; }

.services__text {
  font-size: 15px;
  color: #333;
  font-family: 'Roboto'; }

/*devices*/
.devices {
  max-width: 600px;
  margin: 0 auto;
  width: 100%;
  position: relative; }

.devices__item {
  display: block;
  max-width: 100%;
  height: auto; }

.devices__item--iphone {
  position: absolute;
  bottom: -80px;
  right: 0;
  z-index: 1; }

/*wedo*/
.wedo {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-left: 0 -15px;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }

.wedo__item {
  width: 50%;
  padding: 0 15px; }

.wedo__img {
  display: block;
  max-width: 100%;
  height: auto; }

/*accordion*/
.accordion__item {
  border: 1px solid #e5e5e5;
  margin-bottom: 10px; }

.accordion__item.active .accordion__content {
  display: block; }

.accordion__item.active .accordion__header {
  border-bottom-color: #e5e5e5; }

.accordion__item.active .accordion__header:after {
  -webkit-transform: translateY(-50%) rotate(-45deg);
      -ms-transform: translateY(-50%) rotate(-45deg);
          transform: translateY(-50%) rotate(-45deg);
  margin-top: 5px; }

.accordion__header {
  padding: 15px 20px 15px 65px;
  position: relative;
  border-bottom: 1px solid transparent;
  cursor: pointer; }

.accordion__header:after {
  content: '';
  display: block;
  width: 16px;
  height: 16px;
  border-top: 2px solid #ccc;
  border-right: 2px solid #ccc;
  position: absolute;
  top: 50%;
  right: 20px;
  z-index: 1;
  -webkit-transform: translateY(-50%) rotate(135deg);
      -ms-transform: translateY(-50%) rotate(135deg);
          transform: translateY(-50%) rotate(135deg); }

.accordion__icon {
  position: absolute;
  top: 50%;
  left: 20px;
  z-index: 1;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%); }

.accordion__content {
  display: none;
  padding: 15px 20px;
  font-family: 'Roboto';
  font-size: 15px;
  color: #999;
  font-style: italic; }

.accordion__title {
  font-size: 14px;
  color: #333;
  text-transform: uppercase; }

/*reviews*/
.reviews {
  position: relative; }

.reviews .slick-slider {
  padding: 0 110px; }

.reviews__item {
  padding-left: 255px;
  position: relative;
  min-height: 210px; }

.reviews__photo {
  width: 210px;
  height: 210px;
  display: block;
  border: 2px solid #95e1d3;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1; }

.reviews__text {
  margin-bottom: 15px;
  font-family: 'Roboto';
  font-size: 24px;
  color: #999;
  font-style: italic; }

.reviews__author {
  font-size: 24px;
  color: #333;
  font-family: 'Kaushan Script'; }

.reviews__author:before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  width: 60px;
  height: 3px;
  margin-right: 10px;
  background-color: #f38181; }

.slick-arrow {
  font-size: 0;
  color: transparent;
  position: absolute;
  display: block;
  border: 0;
  background: none;
  top: 50%;
  z-index: 1;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%); }

.slick-arrow:focus {
  outline: none; }

.slick-arrow:after {
  content: '';
  display: block;
  width: 16px;
  height: 16px;
  border-top: 2px solid #ccc;
  border-left: 2px solid #ccc; }

.slick-prev {
  left: 0;
  -webkit-transform: translateY(-50%) rotate(-45deg);
      -ms-transform: translateY(-50%) rotate(-45deg);
          transform: translateY(-50%) rotate(-45deg); }

.slick-next {
  right: 0;
  -webkit-transform: translateY(-50%) rotate(135deg);
      -ms-transform: translateY(-50%) rotate(135deg);
          transform: translateY(-50%) rotate(135deg); }

/*social*/
.social {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }

.social__item {
  width: 55px;
  height: 55px;
  padding: 12px 10px;
  background-color: #fce38a;
  border-right: 1px solid #f38181;
  font-size: 30px;
  color: #f38181;
  line-height: 1;
  -webkit-transition: background .1s linear, color .1s linear;
  -o-transition: background .1s linear, color .1s linear;
  transition: background .1s linear, color .1s linear; }

.social__item:last-child {
  border-right: 0; }

.social__item:hover {
  background-color: #f38181;
  color: #fff; }

/*logos*/
.logos {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 -15px; }

.logos__item {
  padding: 0 15px; }

.logos__img {
  display: block;
  max-width: 100%;
  height: auto; }

/*works*/
.works {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.works__col {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 0;
      -ms-flex: 1 1 0px;
          flex: 1 1 0; }

.works__item {
  position: relative;
  background: -webkit-gradient(linear, left top, left bottom, from(#f38181), to(#fce38a));
  background: -o-linear-gradient(top, #f38181, #fce38a);
  background: linear-gradient(to bottom, #f38181, #fce38a); }

.works__item:hover .works__image {
  opacity: .1; }

.works__item:hover .works__info {
  opacity: 1; }

.works__image {
  display: block;
  max-width: 100%;
  height: auto;
  -webkit-transition: opacity .2s linear;
  -o-transition: opacity .2s linear;
  transition: opacity .2s linear; }

.works__info {
  text-align: center;
  color: #fff;
  width: 100%;
  padding: 0 15px;
  position: absolute;
  top: 50%;
  left: 0;
  z-index: 1;
  opacity: 0;
  -webkit-transform: translate3d(0, -50%, 0);
          transform: translate3d(0, -50%, 0);
  -webkit-transition: opacity .2 linear;
  -o-transition: opacity .2 linear;
  transition: opacity .2 linear; }

.works__title {
  margin-bottom: 5px;
  color: #fff;
  font-size: 14px;
  text-transform: uppercase; }

.works__text {
  font-size: 15px;
  font-family: 'Roboto';
  font-style: italic; }

/*clients*/
.clients {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  margin-top: 70px; }

.clients__item {
  width: 50%;
  padding: 0 45px 0 175px;
  position: relative;
  margin-bottom: 60px; }

.clients__photo {
  width: 110px;
  height: 110px;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 40px;
  z-index: 1; }

.clients__name {
  margin-bottom: 5px;
  font-size: 14px;
  color: #333;
  text-transform: uppercase; }

.clients__prof {
  font-size: 15px;
  font-family: 'Roboto';
  font-style: italic;
  color: #333; }

.clients__text {
  font-size: 15px;
  color: #999; }

.clients__text:before {
  margin: 15px;
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  background-color: #f38181; }

/*blog*/
.blog {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }

.blog__item {
  width: 31%; }

.blog__header {
  position: relative;
  margin-bottom: 15px; }

.blog__photo {
  display: block;
  max-width: 100%;
  height: auto; }

.blog__date {
  padding: 10px 20px;
  background-color: #95e1d3;
  font-size: 15px;
  color: #fff;
  font-family: 'Roboto';
  font-weight: 300;
  font-style: italic;
  text-align: center;
  position: absolute;
  bottom: 10px;
  left: -9px;
  z-index: 1; }

.blog__date-day {
  font-family: 'Montserrat';
  font-size: 30px;
  line-height: 1;
  font-weight: 700;
  font-style: normal; }

.blog__content {
  margin-bottom: 10px; }

.blog__title {
  margin-bottom: 14px;
  font-size: 14px;
  color: #333;
  text-transform: uppercase; }

.blog__text {
  font-style: 15px;
  color: #999;
  font-family: 'Roboto'; }

.blog-stat__item {
  display: inline-block;
  vertical-align: top;
  margin-right: 10px; }

.blog__footer {
  padding-top: 14px;
  border-top: 1px solid #e5e5e5;
  font-style: 15px;
  font-family: 'Roboto';
  font-weight: 300;
  font-style: italic;
  color: #999; }

.blog-stat__item i {
  color: #95e1d3;
  margin-right: 10px; }

/*map*/
.map {
  text-align: center; }

.map__title {
  font-size: 24px;
  color: #f38181;
  font-family: 'Montserrat';
  font-weight: 700; }

.map__title:after {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  margin: 15px auto;
  background-color: #f38181; }

.map__title a {
  color: inherit; }

.map__title a:hover {
  text-decoration: underline; }

/* Footer */
.footer {
  padding-top: 65px;
  background-color: #f8f8f8; }

.footer__inner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 65px;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }

.footer__cool {
  padding: 0 30px; }

.footer__col--first {
  width: 40%; }

.footer__col--second {
  width: 29%; }

.footer__col--third {
  width: 22%; }

.footer__logo {
  margin-bottom: 30px;
  font-size: 46px;
  font-weight: 700;
  color: #ccc; }

.footer__text {
  margin-bottom: 30px;
  font-size: 15px;
  color: #999; }

.footer__social {
  margin-bottom: 25px; }

.footer__social-header {
  padding-bottom: 15px;
  font-size: 14px;
  color: #333;
  border-bottom: 1px solid #e5e5e5; }

.footer__social-header b {
  font-size: 18px; }

.footer__social-content {
  padding-top: 15px;
  font-size: 15px;
  color: #999;
  font-style: italic;
  font-weight: 300; }

.footer__social-content a {
  display: inline-block;
  vertical-align: middle;
  margin-left: 10px;
  font-size: 18px;
  color: #95e1d3; }

.footer__title {
  margin: 30px 0;
  font-size: 14px;
  color: #333;
  text-transform: uppercase; }

/* Blogs */
.blogs__item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px; }

.blogs__img {
  max-width: 120px;
  height: 80px;
  width: 100%; }

.blogs__content {
  padding-left: 20px; }

.blogs__title {
  display: block;
  margin-bottom: 5px;
  color: #333;
  font-size: 12px;
  line-height: 1.5;
  text-transform: uppercase;
  text-decoration: none; }

.blogs__title:hover {
  text-decoration: underline; }

.blogs__date {
  font-size: 13px;
  color: #999;
  font-style: italic;
  font-weight: 300; }

/* Instagram */
.instagram {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.instagram__item {
  width: 33%;
  border-bottom: 1px solid #fff; }

.instagram__item img {
  display: block;
  max-width: 100%;
  height: auto; }

/* Subscribe */
.subscribe {
  width: 100%;
  max-width: 380px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.subscribe__input {
  width: 60%;
  height: 40px;
  padding: 12px;
  background: #fff;
  border: 1px solid #e7e7e7;
  border-right: 0;
  font-family: 'Roboto';
  font-size: 15px;
  line-height: 1.1;
  color: #333;
  font-style: italic;
  font-weight: 300; }

.subscribe__input::-webkit-input-placeholder {
  color: #ccc; }

.subscribe__input::-moz-placeholder {
  color: #ccc; }

.subscribe__input:-ms-input-placeholder {
  color: #ccc; }

.subscribe__input::-ms-input-placeholder {
  color: #ccc; }

.subscribe__input::placeholder {
  color: #ccc; }

.subscribe__input:focus {
  outline: 0;
  border-color: #95e1d3; }

.subscribe__btn {
  width: 40%;
  height: 40px;
  padding: 12px 30px;
  background-color: #95e1d3;
  border: 0;
  cursor: pointer;
  font-family: 'Montserrat';
  font-size: 14px;
  line-height: 1.1;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
  -webkit-transition: background .2s linear;
  -o-transition: background .2s linear;
  transition: background .2s linear; }

.subscribe__btn:hover {
  background-color: #74c7b8; }

.subscribe__btn:focus {
  outline: 0; }

/* Copyright */
.copyright {
  padding: 20px 0;
  border-top: 1px solid #e5e5e5;
  font-size: 14px;
  color: #333;
  text-align: center; }

.copyright span {
  color: #f38181; }

/*media*/
@media (max-width: 1230px) {
  /* Intro */
  .intro__suptitle {
    font-size: 52px; }
  .intro__title {
    font-size: 120px; }
  /* Reviews */
  .reviews__text {
    font-size: 20px; } }

@media (max-width: 990px) {
  /* Intro */
  .intro__suptitle {
    font-size: 32px; }
  .intro__title {
    font-size: 80px; }
  /* Stat */
  .stat {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .stat__item {
    -webkit-box-flex: 0;
    -webkit-flex: none;
        -ms-flex: none;
            flex: none;
    width: 33.33333%;
    padding-top: 30px;
    padding-bottom: 30px;
    border: 0; }
  .stat__item:last-child {
    border-right: 0; }
  /* Services */
  .services__item {
    width: 50%;
    padding-bottom: 0; }
  .services__item--border {
    border-bottom: 0; }
  /* Reviews */
  .reviews {
    padding: 0 60px; }
  .reviews__photo {
    width: 150px;
    height: 150px; }
  .reviews__item {
    padding-left: 175px; }
  /* Clients */
  .clients {
    max-width: 600px;
    margin: 0 auto; }
  .clients__item {
    width: 100%;
    padding-right: 0; }
  .clients__item:last-child {
    margin-bottom: 0; }
  /* Footer */
  .footer__col--first {
    width: 100%; }
  .footer__col--second,
  .footer__col--third {
    width: 50%; }
  /* Instagram */
  .instagram {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .instagram__item {
    width: auto;
    border-right: 1px solid white; } }

@media (max-width: 770px) {
  /*intro*/
  .intro {
    min-height: 650px; }
  /*header*/
  .header {
    padding: 10px 0; }
  /* Nav */
  .nav {
    display: none;
    width: 100%;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #eb8b8d; }
  .nav.active {
    display: block; }
  .nav__link {
    display: block;
    margin: 0;
    padding: 8px 20px; }
  .nav-toggle {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
  /* Section */
  .section {
    padding: 40px 0; }
  .section--devices {
    padding-bottom: 0; }
  /* Card */
  .card {
    margin-top: 50px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .card__item {
    width: 100%;
    max-width: 410px;
    margin-bottom: 30px; }
  .card__item:last-child {
    margin-bottom: 0; }
  /* Slider */
  .slider__text {
    display: none; }
  .slider__item.active:before {
    width: 50%; }
  /* Services */
  .services {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .services__item {
    width: 100%;
    max-width: 400px;
    padding-left: 55px;
    padding-right: 0; }
  .services__icon {
    left: 0; }
  /* Wedo */
  .wedo__img {
    display: none; }
  .wedo__item {
    width: 100%; }
  /* Reviews */
  .reviews__photo {
    position: static;
    margin: 0 auto 20px; }
  .reviews__item {
    padding-left: 0; }
  .reviews__text {
    font-size: 16px; }
  .reviews__author {
    font-size: 20px; }
  /* Works */
  .works {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; }
  .works__col {
    -webkit-box-flex: 0;
    -webkit-flex: none;
        -ms-flex: none;
            flex: none;
    width: 50%; }
  /* Blog */
  .blog {
    max-width: 380px;
    margin: 0 auto; }
  .blog__item {
    width: 100%;
    margin-bottom: 30px; }
  .blog__item:last-child {
    margin-bottom: 0; }
  /* Footer */
  .footer__col--second,
  .footer__col--third {
    width: 100%; } }

@media (max-width: 575px) {
  /* Intro */
  .intro__suptitle {
    font-size: 22px; }
  .intro__title {
    font-size: 40px; }
  /* Section */
  .section__header {
    margin-bottom: 50px; }
  .section__suptitle {
    font-size: 20px; }
  .section__title {
    font-size: 24px; }
  .section__title:after {
    margin: 20px auto; }
  /* Stat */
  .stat__item {
    width: 100%;
    border-bottom: 1px solid #b5eae0; }
  .stat__item:last-child {
    border-bottom: 0; }
  .stat__count {
    font-size: 52px; }
  /* Devices */
  .devices {
    max-width: 320px; }
  .devices__item--iphone {
    width: 180px;
    bottom: -50px;
    right: -80px; }
  /* Reviews */
  .reviews {
    padding: 0; }
  .reviews .slick-slider {
    padding: 0 40px; }
  .slick-arrow {
    top: 18%; }
  /* Logos */
  .logos {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .logos__item {
    width: 50%;
    margin-bottom: 20px; }
  .logos__img {
    margin: 0 auto; }
  /* Works */
  .works__col {
    width: 100%; }
  /* Clients */
  .clients__photo {
    position: static; }
  .clients__item {
    padding-left: 0;
    text-align: center; }
  .clients__text:before {
    margin: 15px auto; }
  /* Blogs */
  .blogs__img {
    max-width: 80px;
    height: 50px;
    width: 100%; }
  .blogs__title {
    font-size: 10px; }
  /* Subscribe */
  .subscribe {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    max-width: none; }
  .subscribe__input {
    margin-bottom: 10px;
    border-right: 1px solid #e7e7e7; }
  .subscribe__input,
  .subscribe__btn {
    width: 100%; } }
